.admin-page {
  &__header {
    background-color: #fff;
    margin: 0 0 0 20px;
    padding: 20px 30px;
    border-radius: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 400;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }

      .avatar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          margin-left: 5px;
        }
      }
    }
  }

  &__body {
    padding: 30px 50px;
  }
}
